<script type="text/javascript" src="//assets.jumpseller.com/public/toastr/toastr.min.js"></script>
<script type="text/javascript">
const shoppingCartMessage = '{% t "Go to Shopping Cart." %}';
const singleProductMessage = '{% t "has been added to the shopping cart." %}';
const multiProductMessage = '{% t "have been added to the shopping cart." %}';

function getProductOptions() {
  const options = {};
  const prodOptions = document.querySelectorAll('.prod-options');
  prodOptions.forEach((option) => {
    if (option.tagName === 'FIELDSET') {
      options[option.getAttribute('id')] = option.querySelector(':checked').value;
    } else {
      options[option.getAttribute('id')] = option.value;
    }
  });
  return options;
}

  function getProductOptions() {
    var options = {};
    $(".prod-options").each(function () {
      var option = $(this);
      if ($(this).is("fieldset")) options[option.attr('id')] = option.find(":checked").first().val();
      else options[option.attr('id')] = option.val();
    });
    return options;
  }

  function addToCart(id, productName, qty, options) {
    qty = parseInt(qty);

    Jumpseller.addProductToCart(id, qty, options, {
      callback: function(data, status) {
        toastr.options = {
          closeButton: true,
          debug: false,
          newestOnTop: false,
          progressBar: true,
          positionClass: '{{ options.cart_notification_position }}',
          preventDuplicates: false,
          onclick: null,
          showDuration: '500',
          hideDuration: '1000',
          timeOut: '5000',
          extendedTimeOut: '1000',
          showEasing: 'swing',
          hideEasing: 'linear',
          showMethod: 'fadeIn',
          hideMethod: 'fadeOut',
        };

        if (data.status && data.status != 200) {
          toastr.error(data.responseJSON.message);
          return;
        }

        const cartLink = $('#cart-link').attr('href');
        const hasBeenAdded = qty == 1 ? singleProductMessage : multiProductMessage;
        const message = `<span style="display:block">${qty} ${productName} ${hasBeenAdded}</span> <a href="${cartLink}">${shoppingCartMessage}</a>`;

        toastr.options.onclick = () => window.location.href = '/cart';
        toastr.success(message);

        // Update cart qty counter in header
        $('.cart-size').text(data.products_count);
      },
    });
  }
</script>
