<li class="nav-item {% if item.dropdown %}dropdown{% endif %} {% if item.active %}active{% endif %}">
  <a href="{{ item.url }}"{% if item.external %} target="_blank"{% endif %} title="{{ item.name }}" class="{% if item.dropdown %}dropdown-toggle {% endif %}level-1 trsn nav-link" {% if item.dropdown %}data-toggle=""{% endif %}>{{ item.name }}</a>
  {% if item.dropdown %}
    <ul class="dropdown-menu multi-level">
      {% for item in item.items %}
        {% render 'navigation_menu', item: item %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
