{% for placeholder in (1..6) %}
<div class="{{ component.options.alignment }}{% if component.options.display == 'slider' %} item{% else %} col-lg-4 col-md-6 col-12 mb-4{% endif %}">
    <div class="featured-review border rounded p-4 h-100">
    <i class="ph-fill ph-quotes"></i>
        <div class="featured-review_header">
            {% if component.options.image %}
            <a href="#" class="featured-review_image-container border">
                <img src="//assets.jumpseller.com/public/placeholder/themes/simple/placeholder-130x130.png" alt="{% t 'Product Name' %}" class="w-100">
            </a>
            {% endif %}
            <div>
                <a href="#"><strong>{% t "Product Name" %}</strong></a>
                <div class="stars">
                    <i class="ph-fill ph-star checked"></i>
                    <i class="ph-fill ph-star checked"></i>
                    <i class="ph-fill ph-star checked"></i>
                    <i class="ph-fill ph-star checked"></i>
                    <i class="ph-fill ph-star"></i>
                </div>
            </div>
        </div>
        <div class="featured-review_review">{% t "Here the featured review of your products will be displayed." %}</div>
        <div class="featured-review_name">{% t "Customer's name" %}</div>
        {%- if component.options.date %}
        <div class="featured-review_date">{{ 'now' | date: component.options.date_format }}</div>
        {% endif %}
    </div>
</div>
{% endfor %}