{% unless recommended.products_count == 0 %}
<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="block-header text-center">{% t "You might also be interested in" %}</h2>
    </div>
  </div>
</div>

<div class="container pt-5 related_products mb-5">
  <div id="related-slider" class="product-slider owl-carousel">
    {% for prod in recommended.products limit: options.related_products_limit %}
    <div class="item">
      {% render 'product_block', prod: prod %}
    </div>
    {% endfor %}
  </div>
</div>
<script>
  $('#related-slider').owlCarousel({
    loop: false,
    rewind: true,
    info: true,
    mouseDrag: false,
    touchDrag: false,
    margin: 15,
    navText: ["<i class='ph ph-caret-left'></i>", "<i class='ph ph-caret-right'></i>"],
    nav: true,
    dots: true,
    thumbs: false,
    responsive: {
      0: {
        items: 1,
        margin: 8,
        stagePadding: 40,
      },
      600: {
        items: 3,
        margin: 15,
        stagePadding: 30,
      },
      1000: {
        items: 4,
        stagePadding: 30,
      }
    }
  });
</script>
{% endunless %}