<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ languages.first.locale }}" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->

<head>
  <title>{{page_title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="{{meta_description}}" />
  <meta name="robots" content="follow, all" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include 'og_meta_tags' %}

  {% if languages.size > 1 %}
    {% for language in languages %}
    <link rel="alternate" hreflang="{{language.locale | replace: '-', '_'}}" href="{{language.url}}" />
    {% endfor %}
  {% endif %}

  {%if template == "category" %}
  <link rel="canonical" href="{{category.url}}">
  {%else%}
  <link rel="canonical" href="{{current_url}}">
  {%endif%}

  {% include 'schema' %}

<script src="//assets.jumpseller.com/public/jquery-3.4.1.min.js"></script>
  <link rel="icon" href="{% if options.favicon != empty %} {{ options.favicon }} {% else %} {{'favicon.png' | asset }} {% endif%}">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	{% if options.display_cart_notification %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ 'app.css' | asset }}"/>
  <link rel="stylesheet" type="text/css" href="{{ 'color_pickers.css' | asset }}"/>

  {% if template == 'home' or template == 'product' %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  {% endif %}

  {% include 'fonts' %}

  {% if options.head_code != empty %}
  <!-- Custom head code -->
  {{options.head_code}}
  {% endif %}
	 <meta name='google-site-verification' content='73O90pgV88S82HZvYkc3YBF6FlybcUzl9-cEo--HOJc'/> 
 	 <meta name='google-site-verification' content='73O90pgV88S82HZvYkc3YBF6FlybcUzl9-cEo--HOJc'/> 
 	 <meta name='facebook-domain-verification' content='wnp1ofh4g1nyhd3wo75al4nk89910e'/> 
 </head>

<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  {% if template != 'cart' and template != 'checkout' and template != 'revieworder' and template != 'success' %}

  {% include "header_area" %}

  {% include "mobile_navigation" %}

  {% endif %}
  <!-- Page Content -->
  {{content}}

  <!-- Footer -->
  {% if template != 'cart' and template != 'checkout' and template != 'revieworder' and template != 'success' %}
  {% include 'footer' %}
  {% endif %}
  <!-- /.container -->

  <!-- Bootstrap Core -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% include 'currency_options' %}

  {% include 'owl_carousel_options' %}
  <script type="text/javascript" src="{{ 'main.js' | asset }}"></script>

  {% if options.display_cart_notification %}
  {% include 'addtocart' %}
  {% endif %}

  {% if template == 'product' or template == 'home' or template == 'category' or template == 'searchresults'%}
  {% include 'qty_buttons' %}
  {% endif %}

  {% if options.body_code != empty %}
  <!-- Custom body code -->
  {{options.body_code}}
  {% endif %}

</html>