{{ index_for_top_components }}

<div class="container mt-md-0 my-5 customer_address">
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">{% t "Client Address" %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-12">
      <div class="card">
        <div class="card-body">
          {{ customer_address_form }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ index_for_bottom_components }}