<div class="item">
  <a href="{{ logo.options.link }}">
    <img src="{{ logo.options.image['url'] | default: '//assets.jumpseller.com/public/placeholder/themes/simple/placeholder-130x130.png' }}" alt="{{ logo.options.image['alt'] | default: store.name }}" class="lazyload">
  </a>
</div>
